.has-errors {
	color: #a94442;
}

input.has-errors {
	border-color: #a94442;
}
#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
#list-group
{
    max-height: 500px;
    overflow-y: auto;
    margin: auto;
    width:900px;
}
#header
{
	margin: auto;
	width:900px;
}
#content
{
	max-height: 500px;
    overflow-y: auto;
    margin: auto;
    width:900px;
}
#logindiv
{
	max-height: 500px;
    margin: auto;
    width:800px;
}